<div class='jumbo'>
  <div class='right tomster'></div>
  <h2>About Super Rentals</h2>
  <p>
    This is a rental website I created to explore Ember. This way I can dream about travelling AND building Ember apps at the same time!
  </p>

  {{#link-to 'contact' class='button'}}
    Get Started!
  {{/link-to}}
</div>
